<!DOCTYPE html>
<html ng-app="approvedeny">
  <head>
    <script src="//cdn.octoblu.com/js/meshblu/latest/meshblu.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script>
      var app = angular.module("approvedeny", []);
      app.controller("hi", function($scope, $location) {
        var approveFlowId = $location.search().id;

        conn = meshblu.createConnection()

        conn.on('notReady', function(error){
          console.log('notReady', error)
        })

        conn.on('ready', function(device){
          $scope.device = device;
          $scope.$apply();
        })

        console.log('got id', approveFlowId)
        $scope.approve = function(device) {
          var approveMessage = {
            "devices": [approveFlowId],
            "payload": { "from": "approve" }
          };
          conn.message(approveMessage);
          console.log('approving', device, approveMessage);
        }

        $scope.deny = function(device) {
          var denyMessage = {
            "devices": [approveFlowId],
            "payload": { "from": "deny" }
          };
          conn.message(denyMessage);
          console.log('denying', device, denyMessage);
        }

      });

    </script>
    <script>

    </script>
  </head>
  <body ng-controller="hi">
    <div ng-show="device">
      <button ng-click="approve(device)">Approve</button> <button ng-click="deny(device)">Deny</button>
    </div>
  </body>
</html>
